/* dos se utiliza para una imagen de la parroquia */
.dos {
    width: 300px;
    height: 400px;
    align-content: center;
}
/* estilo de body general */
body{
    background-color: #dfdfc3;
}
/* centrado de contenido */
.div{
    padding-right: 250px;
    padding-left: 250px;
}
/* estilo de textos */
.text{
    color: #2d0625;
}
/* navegacion general botones y colores */
nav a {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6a396e;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
/* al pasar por el nav se cambia de color a rosado */
nav a:hover {
    background-color: #f662d2;
  }
/* se ccentra la figura reinado y la foto panoramica */
.reinado {
    text-align: center;
}
/* se mueve el mapa de la plata en ubicacion */
.ubicacion {
    text-align: center;
}
/* inline se utiliza para generar un bloque de imagenes y un bloque de texto */
.inline-block {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 10px;
    width: 30%;
}
/* me permite justificar todos los textos al tiempo */
.historia {
    text-align: justify;
}
/* me dfine el tamaño de la figura mapa */
.mapa {
    width: 300px;
    height: 300px;
    align-content: center;
}
/* me define el tamaño de la foto panoramica del municipio */
.panoramica {
    width: 1100px;
    height: 350px;
    align-content: center;
}
/* me define el tamaño dela figura del personaje de surtifruver */
.surtifruver {
    width: 700px;
    height: 450px;
    align-content: center;
}
/* se grega estilo al contenido */
.contenido {
    padding-left: 40px;
}
/* navegacion de pagina */
.navinterna {
    padding-top: 40px;
    padding-left: 445px;
}
/* se ingresa estilo para la imagen de inicio */
.bannerlogo {
    width: 1100px;
    height: 400px;
}
/* estilo de navegado interno */
.rutainterna{
    background-color: #a46ca9;
}
/* estilo de banner  municipal */
.bannermunicipal{
    width: 1100px;
    height: 400px;
}
/* estilo de insginia con borde */
.insignias{
    align-content: center;
    border: 1px solid #111;
}
/* tag info */
.info{
    text-align: center;
    align-content: center;
}
/* estilo a info a */
.info a {
    background-color: #a46ca9;
    border: 1px solid #a46ca9;
    color: black;
    padding: 2px 2px 2px 2px;
}
/* para el footer de la pagina */
.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #bdef52;
    color: black;
}