/* estilizado para pantallaz mayores a 1200 minimo */
@media only screen and (min-width:1230px){
    .mapainteractivo{
        width: 400px;
        height: 379px;
    }
    /* evitar que el top de devolver tenga linea por debajo y cambie de color */
    h2 a{
        text-decoration: none;
    }
    /* evitar que la decoracion se haga en las lista de creditos */
    ol li a:link{
        text-decoration: none;
    }
    /* tomado del ejemplo del profesor en clase */
    #btn-menu {
        display: none;   /* oculta el checkbox cuando no es necesario*/
    } 
    header {
        width: 100%;    
        z-index: 10;	/* coloca el checkbox por encima del contenido*/
    }
    header label {     /* coloca el checkbox en un lugar y tamaño exactos*/
        display: none;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 20px;
        top: 30px;
    } 
    header label:hover {
        cursor: pointer;    /* cambia el cursor sobre el checkbox para indicar la interacción*/
    }
    .menu ul{
        margin-left: 20px; 
        list-style: none;     /* para evitar los bullit list en la lista*/
        padding: 0;
        display: flex;
    }
    .menu li{
        background-repeat: no-repeat; /* evita que se repita la imagen aunque cambie el tamaño*/
        width: 160px;
        height: 30px;
        font-size: 14px;
        text-align: center;
        color: white;
        text-decoration: none;
        list-style-type: none;
        padding: 14px 15px;
    } 
    .menu li a {
        display: block;
        list-style-type: none;
        margin: 0;
        text-align: center;
        color: white;
        background-color: #6a396e;
        text-decoration: none;  
        padding: 14px 15px;
    }
    .menu li a:hover {
        color:#FFFFFF;
        text-shadow: 1px 1px #000000;
        background-repeat: no-repeat;
        background-color: #f662d2;
    } 
    /* dos se utiliza para una imagen de la parroquia */
    .dos {
        width: 300px;
        height: 400px;
        align-content: center;
    }
    /* estilo de body general */
    body{
        background-color: #dfdfc3;
    }
    /* centrado de contenido */
    .conteindex{
        padding-right: 18%;
        padding-left: 18%;
    }
    /* estilo de textos */
    .text{
        color: #2d0625;
    }
    /* navegacion general botones y colores */
    nav a {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        background-color: #6a396e;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        /* font-size: 16px; */
    }
    /* al pasar por el nav se cambia de color a rosado */
    nav a:hover {
        background-color: #f662d2;
    }
    /* se ccentra la figura reinado y la foto panoramica */
    .reinado {
        text-align: center;
    }
    /* se mueve el mapa de la plata en ubicacion */
    .ubicacion {
        text-align: center;
    }
    /* inline se utiliza para generar un bloque de imagenes y un bloque de texto */
    .inline-block {
        display: inline-block;
        vertical-align: middle;
        padding-right: 10px;
        padding-left: 10px;
        width: 30%;
    }
    /* me permite justificar todos los textos al tiempo */
    .historia {
        text-align: justify;
    }
    /* me dfine el tamaño de la figura mapa */
    .mapa {
        width: 300px;
        height: 300px;
        align-content: center;
    }
    /* me define el tamaño de la foto panoramica del municipio */
    .panoramica {
        width: 100%;
        height: 350px;
        align-content: center;
    }
    /* me define el tamaño dela figura del personaje de surtifruver */
    .surtifruver {
        width: 700px;
        height: 450px;
        align-content: center;
    }
    /* se grega estilo al contenido */
    .contenido {
        padding-left: 40px;
    }
    /* navegacion de pagina */
    .navinterna {
        padding-top: 40px;
        padding-left: 14%;
    }
    /* se ingresa estilo para la imagen de inicio */
    .bannerlogo {
        width: 100%;
        height: 400px;
    }
    /* estilo de navegado interno */
    .rutainterna{
        background-color: #a46ca9;
        text-decoration: none;
    }
    /* estilo de banner  municipal */
    .bannermunicipal{
        width: 100%;
        height: 400px;
    }
    /* estilo de insginia con borde */
    .insignias{
        align-content: center;
        border: 1px solid #111;
    }
    /* tag info */
    .info{
        text-align: center;
        align-content: center;
    }
    /* estilo a info a */
    .info a {
        background-color: #a46ca9;
        border: 1px solid #a46ca9;
        color: black;
        padding: 2px 2px 2px 2px;
    }
    /* para el footer de la pagina */
    .footer{
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        background-color: #bdef52;
        color: black;
    }
    /*Estilo para el div en el que está contenido el mapa interactivo*/
    .mapa_UN {
        position:relative; 
        font-size:1.15em;
        color:#000000;
        background-color:#E4D2E1;
        border: 3px solid #E4D2E1;
        box-shadow:2px 2px 5px black;
        width: 90%;
        padding: 1%;
        margin:auto;
        margin-bottom:15px;
        display:block;
    }
    /* Estilo de imagen mapa interactivo de la plata */
    .mapalaplata {
        width: 99%;
        display: block;
        margin: auto;
    }

    /*Estilos para cada uno de los puntos en el mapa interactivo*/
    /* Hospital Padua */
    .punto1 {
        position:absolute;
        z-index:2;
        width:4%;
        bottom:59%;
        left:75%;
    }
    /* Villa olimpica */
    .punto2 {
        position:absolute;
        z-index:2;
        width:4%;
        bottom:66%;
        left:88%;
    }
    /* Parque la pola */
    .punto3 {
        position:absolute;
        z-index:2;
        width:4%;
        bottom:37%;
        left:61%;
    }
    /* Parque Garcia Rovira */
    .punto4 {
        position:absolute;
        z-index:2;
        width:4%;
        bottom:32%;
        left:50%;
    }
    /*Estilo para los párrafos*/
    .p_mapa {
        font-size:1.2em;
        color:#000000;
        background-color:#E4D2E1;
        width: 90%;
        margin: auto;
        padding: 1%;
        display:block;
    }
    /*Estilo para la imagen en el párrafo de información sobre el mapa interactivo*/
    .imgM {
        max-width: 25%;
        float:right;
        margin:2%;
        border: 1px solid #FFFFFF;
        box-shadow:1px 1px 4px black;
    }
}

/* para tamaños no entre 800 y 1200 px*/
@media only screen and (min-width:810px) and (max-width:1230px){
    .mapainteractivo{
        width: 400px;
        height: 379px;
    }
    /* evitar que el top de devolver tenga linea por debajo y cambie de color */
    h2 a{
        text-decoration: none;
    }
    /* evitar que la decoracion se haga en las lista de creditos */
    ol li a:link{
        text-decoration: none;
    }
    /* tomado del ejemplo del profesor en clase */
    #btn-menu {
        display: none;   /* oculta el checkbox cuando no es necesario*/
    }
    /* elementos del menu desplegable*/
    header label{
        display: block; /* se muestra el checkbox cuando se reduce la ventana*/
    } 
    .menu {
        position: fixed;  /* sostiene la posición aunque se haga scroll en el contenido */
        background: rgba(0.5, 0.5, 0.5, 0.2); /* rojo, verde, azul, alpha (transparencia) */
		z-index: 30; /* para asegurar que el menu esta por encima de todo lo demás*/
        width: 40%; /* se refiere al ancho del fondo del menu y no a los botones */
        margin-left: -60%; /* se oculta porque se coloca por fuera de la ventana*/
		margin-top: 4px;
        transition: all 2s;   /* la animación de desplegar el menu dura 1 segundo*/
    } 
    .menu ul {
        flex-direction: column;  /* se despliega en sentido vertical*/
    } 
    .menu li {
        padding: 15px;
        list-style-type: none;
    }
    #btn-menu:checked ~ .menu {  /* el checkbox controla las dos posiciones del menu */
        margin: 1px; 
    }
    .dos {
        width: 300px;
        height: 400px;
        align-content: center;
    }
    /* estilo de body general */
    body{
        background-color: #dfdfc3;
    }
    /* centrado de contenido */
    .conteindex{
        padding-right: 50px;
        padding-left: 50px;
    }
    /* estilo de textos */
    .text{
        color: #2d0625;
    }
    /* navegacion general botones y colores */
    nav a {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #6a396e;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        /* font-size: 14px; */
    }
    /* al pasar por el nav se cambia de color a rosado */
    nav a:hover {
        background-color: #f662d2;
    }
    /* se ccentra la figura reinado y la foto panoramica */
    .reinado {
        width: 100%;
        height: 500px;
    }
    /* se mueve el mapa de la plata en ubicacion */
    .ubicacion {
        text-align: center;
    }
    /* inline se utiliza para generar un bloque de imagenes y un bloque de texto */
    .inline-block {
        display: inline-block;
        vertical-align: middle;
        padding-right: 5px;
        padding-left: 0;
        width: 45%;
    }
    /* me permite justificar todos los textos al tiempo */
    .historia {
        text-align: justify;
    }
    /* me dfine el tamaño de la figura mapa */
    .mapa {
        width: 300px;
        height: 300px;
        align-content: center;
    }
    /* me define el tamaño de la foto panoramica del municipio */
    .panoramica {
        width: 100%;
        height: 350px;
        align-content: center;
    }
    /* me define el tamaño dela figura del personaje de surtifruver */
    .surtifruver {
        width: 600px;
        height: 350px;
        padding-left: 3%;
        align-content: center;
    }
    /* se grega estilo al contenido */
    .contenido {
        padding-left: 40px;
    }
    /* navegacion de pagina */
    .navinterna {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 11%;
    }
    /* estilo de foto panoramica */
    /* se ingresa estilo para la imagen de inicio */
    .bannerlogo {
        width: 100%;
        height: 266px;
    }
    /* estilo de navegado interno */
    .rutainterna{
        background-color: #a46ca9;
        text-decoration: none;
    }
    /* estilo de banner  municipal */
    .bannermunicipal{
        width: 100%;
        height: 266px;
    }
    /* banner de fotos de actividades */

    /* estilo de insginia con borde */
    .insignias{
        align-content: center;
        border: 1px solid #111;
    }
    /* tag info */
    .info{
        text-align: center;
        align-content: center;
    }
    /* estilo a info a */
    .info a {
        background-color: #a46ca9;
        border: 1px solid #a46ca9;
        color: black;
        padding: 2px 2px 2px 2px;
    }
    /* para el footer de la pagina */
    .footer{
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        background-color: #bdef52;
        color: black;
    }
    /*Estilo para el div en el que está contenido el mapa interactivo*/
    .mapa_UN {
        position:relative; 
        font-size:1.15em;
        color:#000000;
        background-color:#E4D2E1;
        border: 3px solid #E4D2E1;
        box-shadow:2px 2px 5px black;
        width: 90%;
        padding: 1%;
        margin:auto;
        margin-bottom:15px;
        display:block;
    }
    /* Estilo de imagen mapa interactivo de la plata */
    .mapalaplata {
        width: 99%;
        display: block;
        margin: auto;
    }

    /*Estilos para cada uno de los puntos en el mapa interactivo*/
    /* Hospital Padua */
    .punto1 {
        position:absolute;
        z-index:2;
        width:4%;
        bottom:59%;
        left:75%;
    }
    /* Villa olimpica */
    .punto2 {
        position:absolute;
        z-index:2;
        width:4%;
        bottom:66%;
        left:88%;
    }
    /* Parque la pola */
    .punto3 {
        position:absolute;
        z-index:2;
        width:4%;
        bottom:37%;
        left:61%;
    }
    /* Parque Garcia Rovira */
    .punto4 {
        position:absolute;
        z-index:2;
        width:4%;
        bottom:32%;
        left:50%;
    }
    /*Estilo para los párrafos*/
    .p_mapa {
        font-size:1.2em;
        color:#000000;
        background-color:#E4D2E1;
        width: 90%;
        margin: auto;
        padding: 1%;
        display:block;
    }
    /*Estilo para la imagen en el párrafo de información sobre el mapa interactivo*/
    .imgM {
        max-width: 20%;
        float:right;
        margin:2%;
        border: 1px solid #FFFFFF;
        box-shadow:1px 1px 4px black;
    }
}

@media only screen and (min-width:480px) and (max-width:810px){
    .mapainteractivo{
        width: 400px;
        height: 379px;
    }
    /* evitar que el top de devolver tenga linea por debajo y cambie de color */
    h2 a{
        text-decoration: none;
    }
    /* evitar que la decoracion se haga en las lista de creditos */
    ol li a:link{
        text-decoration: none;
    }
    /* tomado del ejemplo del profesor en clase */
    #btn-menu {
        display: none;   /* oculta el checkbox cuando no es necesario*/
        width:30px;
    } 
    /* elementos del menu desplegable*/
    header label{
        display: block; /* se muestra el checkbox cuando se reduce la ventana*/
    } 
    .menu {
        position: fixed;  /* sostiene la posición aunque se haga scroll en el contenido */
        background: rgba(0.5, 0.5, 0.5, 0.2); /* rojo, verde, azul, alpha (transparencia) */
		z-index: 30; /* para asegurar que el menu esta por encima de todo lo demás*/
        width: 49%; /* se refiere al ancho del fondo del menu y no a los botones */
        margin-left: -60%; /* se oculta porque se coloca por fuera de la ventana*/
		margin-top: 4px;
        transition: all 2s;   /* la animación de desplegar el menu dura 1 segundo*/
    } 
    .menu ul {
        flex-direction: column;  /* se despliega en sentido vertical*/
    } 
    .menu li {
        padding: 15px;
        list-style-type: none;
    }
    #btn-menu:checked ~ .menu {  /* el checkbox controla las dos posiciones del menu */
        margin: 1px; 
    }
    .dos {
        width: 300px;
        height: 400px;
        align-content: center;
    }
    /* estilo de body general */
    body{
        background-color: #dfdfc3;
    }
    /* centrado de contenido */
    .conteindex{
        padding-right: 50px;
        padding-left: 50px;
    }
    /* estilo de textos */
    .text{
        color: #2d0625;
    }
    /* navegacion general botones y colores */
    nav a {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #6a396e;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        /* font-size: 12px; */
    }
    /* al pasar por el nav se cambia de color a rosado */
    nav a:hover {
        background-color: #f662d2;
    }
    /* se ccentra la figura reinado y la foto panoramica */
    .reinado {
        width: 100%;
        height: 500px;
    }
    /* se mueve el mapa de la plata en ubicacion */
    .ubicacion {
        text-align: center;
    }
    /* inline se utiliza para generar un bloque de imagenes y un bloque de texto */
    .inline-block {
        display: inline-block;
        vertical-align: middle;
        padding-right: 5px;
        padding-left: 0;
        width: 70%;
    }
    /* me permite justificar todos los textos al tiempo */
    .historia {
        text-align: justify;
    }
    /* me dfine el tamaño de la figura mapa */
    .mapa {
        width: 200px;
        height: 200px;
        align-content: center;
    }
    /* me define el tamaño de la foto panoramica del municipio */
    .panoramica {
        width: 100%;
        height: 200px;
        align-content: center;
    }
    /* me define el tamaño dela figura del personaje de surtifruver */
    .surtifruver {
        width: 100%;
        height: 250px;
        padding-left: 3%;
        align-content: center;
    }
    /* se grega estilo al contenido */
    .contenido {
        padding-left: 40px;
    }
    /* navegacion de pagina */
    .navinterna {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 1%;
    }
    .navinterna nav a{
        font-size: 9px;
    }
    /* estilo de foto panoramica */
    /* se ingresa estilo para la imagen de inicio */
    .bannerlogo {
        width: 100%;
        height: 266px;
    }
    /* estilo de navegado interno */
    .rutainterna{
        background-color: #a46ca9;
        text-decoration: none;
    }
    /* estilo de banner  municipal */
    .bannermunicipal{
        width: 100%;
        height: 266px;
    }
    /* banner de fotos de actividades */

    /* estilo de insginia con borde */
    .insignias{
        align-content: center;
        border: 1px solid #111;
    }
    /* tag info */
    .info{
        text-align: center;
        align-content: center;
    }
    /* estilo a info a */
    .info a {
        background-color: #a46ca9;
        border: 1px solid #a46ca9;
        color: black;
        padding: 2px 2px 2px 2px;
    }
    /* para el footer de la pagina */
    .footer{
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        background-color: #bdef52;
        color: black;
    }
    /*Estilo para el div en el que está contenido el mapa interactivo*/
    .mapa_UN {
        position:relative; 
        font-size:1.15em;
        color:#000000;
        background-color:#E4D2E1;
        border: 3px solid #E4D2E1;
        box-shadow:2px 2px 5px black;
        width: 90%;
        padding: 1%;
        margin:auto;
        margin-bottom:15px;
        display:block;
    }
    /* Estilo de imagen mapa interactivo de la plata */
    .mapalaplata {
        width: 99%;
        display: block;
        margin: auto;
    }

    /*Estilos para cada uno de los puntos en el mapa interactivo*/
    /* Hospital Padua */
    .punto1 {
        position:absolute;
        z-index:2;
        width:4%;
        bottom:59%;
        left:75%;
    }
    /* Villa olimpica */
    .punto2 {
        position:absolute;
        z-index:2;
        width:4%;
        bottom:66%;
        left:88%;
    }
    /* Parque la pola */
    .punto3 {
        position:absolute;
        z-index:2;
        width:4%;
        bottom:37%;
        left:61%;
    }
    /* Parque Garcia Rovira */
    .punto4 {
        position:absolute;
        z-index:2;
        width:4%;
        bottom:32%;
        left:50%;
    }
    /*Estilo para los párrafos*/
    .p_mapa {
        font-size:1.2em;
        color:#000000;
        background-color:#E4D2E1;
        width: 90%;
        margin: auto;
        padding: 1%;
        display:block;
    }
    /*Estilo para la imagen en el párrafo de información sobre el mapa interactivo*/
    .imgM {
        max-width: 20%;
        float:right;
        margin:2%;
        border: 1px solid #FFFFFF;
        box-shadow:1px 1px 4px black;
    }
}

@media only screen and (min-width:1px) and (max-width:480px){
    .mapainteractivo{
        width: 350px;
        height: 379px;
    }
    /* evitar que el top de devolver tenga linea por debajo y cambie de color */
    h2 a{
        text-decoration: none;
    }
    /* evitar que la decoracion se haga en las lista de creditos */
    ol li a:link{
        text-decoration: none;
    }
    /* tomado del ejemplo del profesor en clase */
    #btn-menu {
        display: none;   /* oculta el checkbox cuando no es necesario*/
    }
    /* elementos del menu desplegable*/
    header label{
        display: block; /* se muestra el checkbox cuando se reduce la ventana*/
    } 
    .menu {
        position: fixed;  /* sostiene la posición aunque se haga scroll en el contenido */
        background: rgba(0.5, 0.5, 0.5, 0.2); /* rojo, verde, azul, alpha (transparencia) */
		z-index: 30; /* para asegurar que el menu esta por encima de todo lo demás*/
        width: 65%; /* se refiere al ancho del fondo del menu y no a los botones */
        margin-left: -70%; /* se oculta porque se coloca por fuera de la ventana*/
		margin-top: 4px;
        transition: all 2s;   /* la animación de desplegar el menu dura 1 segundo*/
    } 
    .menu ul {
        flex-direction: column;  /* se despliega en sentido vertical*/
    } 
    .menu li {
        padding: 8px;
        margin-left: 5px;
        list-style-type: none;
    }
    #btn-menu:checked ~ .menu {  /* el checkbox controla las dos posiciones del menu */
        margin: 1px; 
    }
    .dos {
        width: 300px;
        height: 400px;
        align-content: center;
    }
    /* estilo de body general */
    body{
        background-color: #dfdfc3;
    }
    /* centrado de contenido */
    .conteindex{
        padding-right: 5px;
        padding-left: 5px;
    }
    /* estilo de textos */
    .text{
        color: #2d0625;
    }
    /* navegacion general botones y colores */
    nav a {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #6a396e;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        /* font-size: 10px; */
    }
    /* al pasar por el nav se cambia de color a rosado */
    nav a:hover {
        background-color: #f662d2;
    }
    /* se ccentra la figura reinado y la foto panoramica */
    .reinado {
        width: 100%;
        height: 500px;
    }
    /* se mueve el mapa de la plata en ubicacion */
    .ubicacion {
        text-align: center;
    }
    /* inline se utiliza para generar un bloque de imagenes y un bloque de texto */
    .inline-block {
        display: inline-block;
        vertical-align: middle;
        padding-right: 5px;
        padding-left: 0;
        width: 70%;
    }
    /* me permite justificar todos los textos al tiempo */
    .historia {
        text-align: justify;
    }

    /* me dfine el tamaño de la figura mapa */
    .mapa {
        width: 200px;
        height: 200px;
        align-content: center;
    }
    /* me define el tamaño de la foto panoramica del municipio */
    .panoramica {
        width: 100%;
        height: 200px;
        align-content: center;
    }
    /* me define el tamaño dela figura del personaje de surtifruver */
    .surtifruver {
        width: 100%;
        height: 250px;
        padding-left: 1%;
        align-content: center;
    }
    /* se grega estilo al contenido */
    .contenido {
        padding-left: 40px;
    }
    /* navegacion de pagina */
    .navinterna {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .navinterna nav a{
        font-size: 6px;
        font-weight: 400;
    }
    /* estilo de foto panoramica */
    /* se ingresa estilo para la imagen de inicio */
    .bannerlogo {
        width: 100%;
        height: 266px;
    }
    /* estilo de navegado interno */
    .rutainterna{
        background-color: #a46ca9;
        text-decoration: none;
    }
    /* estilo de banner  municipal */
    .bannermunicipal{
        width: 100%;
        height: 266px;
    }
    /* banner de fotos de actividades */
    /* estilo de insginia con borde */
    .insignias{
        align-content: center;
        border: 1px solid #111;
    }
    /* tag info */
    .info{
        text-align: center;
        align-content: center;
    }
    /* estilo a info a */
    .info a {
        background-color: #a46ca9;
        border: 1px solid #a46ca9;
        color: black;
        padding: 2px 2px 2px 2px;
    }
    /* para el footer de la pagina */
    .footer{
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        background-color: #bdef52;
        color: black;
    }
    /*Estilo para el div en el que está contenido el mapa interactivo*/
    .mapa_UN {
        position:relative; 
        font-size:1.15em;
        color:#000000;
        background-color:#E4D2E1;
        border: 3px solid #E4D2E1;
        box-shadow:2px 2px 5px black;
        width: 90%;
        padding: 1%;
        margin:auto;
        margin-bottom:15px;
        display:block;
    }
    /* Estilo de imagen mapa interactivo de la plata */
    .mapalaplata {
        width: 99%;
        display: block;
        margin: auto;
    }

    /*Estilos para cada uno de los puntos en el mapa interactivo*/
    /* Hospital Padua */
    .punto1 {
        position:absolute;
        z-index:2;
        width:4%;
        bottom:59%;
        left:75%;
    }
    /* Villa olimpica */
    .punto2 {
        position:absolute;
        z-index:2;
        width:4%;
        bottom:66%;
        left:88%;
    }
    /* Parque la pola */
    .punto3 {
        position:absolute;
        z-index:2;
        width:4%;
        bottom:37%;
        left:61%;
    }
    /* Parque Garcia Rovira */
    .punto4 {
        position:absolute;
        z-index:2;
        width:4%;
        bottom:32%;
        left:50%;
    }
    /*Estilo para los párrafos*/
    .p_mapa {
        font-size:1.2em;
        color:#000000;
        background-color:#E4D2E1;
        width: 90%;
        margin: auto;
        padding: 1%;
        display:block;
    }
    /*Estilo para la imagen en el párrafo de información sobre el mapa interactivo*/
    .imgM {
        max-width: 20%;
        float:right;
        margin:2%;
        border: 1px solid #FFFFFF;
        box-shadow:1px 1px 4px black;
    }
}
